/* line 1, ../sass/_others.scss */
.btn-pagination, div.view ul.pager li a, div.view ul.pager li.pager-current, #page-wrapper #page div.slideshow-block #slideshow-nav a, .pagination a, .pagination span, #nav-image a {
  font-weight: bold;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.3em 0.6em;
  margin: 0 10px 5px 0;
  min-width: 1em;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px #28882e;
  border: none;
}
/* line 12, ../sass/_others.scss */
.btn-pagination:hover, div.view ul.pager li a:hover, div.view ul.pager li.pager-current:hover, #page-wrapper #page div.slideshow-block #slideshow-nav a:hover, .pagination a:hover, .pagination span:hover, #nav-image a:hover, .btn-pagination.activeSlide, div.view ul.pager li a.activeSlide, div.view ul.pager li.activeSlide.pager-current, #page-wrapper #page div.slideshow-block #slideshow-nav a.activeSlide, .pagination a.activeSlide, .pagination span.activeSlide, #nav-image a.activeSlide, .btn-pagination.current, div.view ul.pager li a.current, div.view ul.pager li.current.pager-current, #page-wrapper #page div.slideshow-block #slideshow-nav a.current, .pagination a.current, .pagination span.current, #nav-image a.current {
  background: #28882e;
  color: #fff;
}
/* line 19, ../sass/_others.scss */
div.view-house-room-list .view-content {
  text-align: center;
}
/* line 22, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 246px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 30px 20px 0;
  /**margin: 15px 50px 15px 0;**/
  text-align: left;
  padding: 10px;
  box-shadow: 0 0 8px gray;
  border-radius: 5px;
  border: solid 1px #CCC;
}
/* line 30, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-title, div.view-house-room-list .view-content .views-row .views-field-field-district {
  margin: 0 0 5px 0;
}
/* line 34, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-title {
  float: left;
  color: #3e3e3e;
  font-weight: bold;
}
/* line 40, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-district, div.view-house-room-list .view-content .views-row .views-field-field-price {
  float: right;
  font-weight: bold;
}
/* line 45, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-images {
  clear: both;
  width: 258px;
  height: 276px;
  background: url(../images/home/pagination-item.png) no-repeat;
}
/* line 51, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-images .field-content {
  height: 256px;
  overflow: hidden;
}
/* line 56, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-images img {
  width: 228px;
  max-width: 100%;
  height: 246px;
  margin: 9px 11px;
}
/* line 63, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-images .description {
  text-align: center;
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  width: 218px;
  height: 57px;
  margin: -9px 0 0 11px;
  padding: 5px;
  font-size: 0.9em;
  transition: margin 400ms ease-in-out;
}
/* line 74, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-images .description.display {
  margin: -75px 0 0 11px;
}
/* line 83, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-address, div.view-house-room-list .view-content .views-row .views-field-field-house, div.view-house-room-list .view-content .views-row .views-field-field-city {
  font-weight: bold;
  text-align: center;
}
/* line 88, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-rental-duration {
  position: relative;
}
/* line 92, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-rental-duration .field-content > div {
  position: absolute;
}
/* line 96, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-rental-duration .field-content .badge-duration, div.view-house-room-list .view-content .views-row .views-field-field-rental-duration .field-content .views-field-field-images .badge-free-rooms, div.view-house-room-list .view-content .views-row .views-field-field-images .views-field-field-rental-duration .field-content .badge-free-rooms {
  right: 10px;
  top: 40px;
  font-size: 1.2em;
  border: 1px solid rgba(62, 62, 62, 0.5);
  border-radius: 50px;
  background: #fff;
  padding: 3px 6px;
  font-weight: bold;
  text-align: center;
  min-width: 16px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 110, ../sass/_others.scss */
div.view-house-room-list .view-content .views-row .views-field-field-rental-duration .field-content .available {
  right: -4px;
  top: 24px;
  width: 85px;
  height: 75px;
  background: url(../images/available.png) no-repeat;
  z-index: 10;
}
/* line 131, ../sass/_others.scss */
div.view ul.pager li.pager-current {
  background: #28882e;
  color: #fff;
}
/* line 137, ../sass/_others.scss */
div.view ul.pager li.pager-last, div.view ul.pager li.pager-first {
  display: none;
}
/* line 7, ../sass/partial/_icon.scss */
/*.icon {
  padding-left: 30px;
  line-height: 1.6667em;
}*/
/* line 12, ../sass/partial/_icon.scss */
.ico-map {
  background: url("../images/icon/ico-map.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}
/* line 15, ../sass/partial/_icon.scss */
.ico-home {
  background: url("../images/icon/ico-home.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}
/* line 18, ../sass/partial/_icon.scss */
.ico-time {
  background: url("../images/icon/ico-time.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}
/* line 21, ../sass/partial/_icon.scss */
.ico-person {
  background: url("../images/icon/ico-person.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}
/* line 24, ../sass/partial/_icon.scss */
.ico-phone {
  background: url("../images/icon/ico-phone.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}
/* line 27, ../sass/partial/_icon.scss */
.ico-mobile {
  background: url("../images/icon/ico-mobile.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}
/* line 30, ../sass/partial/_icon.scss */
.ico-email {
  background: url("../images/icon/ico-email.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}
/* line 33, ../sass/partial/_icon.scss */
.ico-skype {
  background: url("../images/icon/ico-skype.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}
/* line 36, ../sass/partial/_icon.scss */
.ico-facebook {
  background: url("../images/icon/ico-facebook.png") no-repeat left top;
  line-height: 1.6667em;
  padding-left: 30px;
}
/* line 1, ../sass/partial/_general.scss */
body {
    background: none repeat scroll 0 0 #C3C3C3;/* #7C1F1F;*/
  /*box-shadow: 0 0 100px #000000 inset;*/
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: .875em;
  margin: 0;
}
/* line 8, ../sass/partial/_general.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
/* line 12, ../sass/partial/_general.scss */
.fleft {
  float: left;
}
/* line 16, ../sass/partial/_general.scss */
.fright {
  float: right;
}
/* line 20, ../sass/partial/_general.scss */
.center {
  text-align: center;
}
/* line 24, ../sass/partial/_general.scss */
#page-wrapper {
  background: none;
}
/* line 27, ../sass/partial/_general.scss */
#page-wrapper #page {
  width: 1024px;
  margin: 0 auto;
  background: none;
}
/* line 1, ../sass/partial/content/_header.scss */
#page-wrapper #page #header {
  position: relative;
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
  background: none;
}
/* line 7, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section {
  width: 1024px;
}
/* line 10, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section #logo {
  padding: 0;
  margin: 0 0 5px 0;
}
/* line 15, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section .region-header {
  margin: 0;
}
/* line 18, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section .region-header #block-fblikebutton-fblikebutton-static-block {
  margin: 25px 0 0 0;
}
/* line 23, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section .fb-like {
  position: absolute;
  top: 25px;
  right: 0;
  width: 85px;
  color: #000;
}
/* line 30, ../sass/partial/content/_header.scss */
#page-wrapper #page #header .section .fb-like iframe {
  z-index: 10;
}
/* line 1, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu {
  position: relative;
  z-index: 10;
  display: block;
  margin: 5px 0 0 0;
  padding: 0;
  text-align: center;
  background: url(../images/nav/globalheader.png) repeat-x;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 11, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links {
  margin: 0;
  padding: 0;
}
/* line 15, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links li {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links li a {
  background-position: 100% 0;
  outline: none;
  float: left;
  width: 102px;
  height: 36px;
  overflow: hidden;
  background: url(../images/nav/globalnav.png) no-repeat;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
}
/* line 35, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links li a.before {
  background-position: 100% -36px;
}
/* line 39, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links li a:hover, #page-wrapper #page #header .section #main-menu #main-menu-links li a:focus {
  background-position: 100% -72px;
}
/* line 43, ../sass/partial/content/_nav.scss */
#page-wrapper #page #header .section #main-menu #main-menu-links li a:active, #page-wrapper #page #header .section #main-menu #main-menu-links li a.active, #page-wrapper #page #header .section #main-menu #main-menu-links li a.active-trail {
  background-position: 100% -72px;
}
/* line 38, ../sass/partial/content/_header.scss */
#page-wrapper #page #header #block-search-form {
  margin: 22px 20px 0 0;
}
/* line 42, ../sass/partial/content/_header.scss */
#page-wrapper #page #header #search-block-form {
  margin: 0;
}
/* line 44, ../sass/partial/content/_header.scss */
#page-wrapper #page #header #search-block-form .form-actions {
  padding: 0;
  background: transparent;
  border-top: none;
}
/* line 34, ../sass/partial/_general.scss */
#page-wrapper #page #messages {
  padding: 20px 0 20px;
  background: #fff;
}
/* line 1, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper {
  background: #fff;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 5, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main {
  margin: 0 auto 20px auto;
}
/* line 9, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section {
  padding: 10px 0 0 0;
}
/* line 12, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section h1 {
  font-size: 2em;
  color: #28882e;
  border-bottom: 1px solid #b7b8b8;
  padding-bottom: 5px;
  margin: 0;
}
/* line 2, ../sass/partial/pages/_map.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node.node-map .content {
  margin: 0;
}
/* line 5, ../sass/partial/pages/_map.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node.node-map .content #map {
  padding: 0;
  text-align: center;
}
/* line 9, ../sass/partial/pages/_map.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node.node-map .content #map iframe {
  width: 100%;
}
/* line 13, ../sass/partial/pages/_map.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node.node-map .content #map p {
  margin: 0;
}
/* line 16, ../sass/partial/pages/_map.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node.node-map .content #map p a {
  margin: 10px 0 0 0;
}
/* line 4, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.view-customer div.view-content div.views-row div.node-client-service {
  margin: 0 0 1em 0;
}
/* line 7, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.view-customer div.view-content div.views-row div.node-client-service h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
/* line 13, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.view-customer div.view-content div.views-row div.node-client-service h2 a {
  color: #28882e;
  outline-style: none;
  text-decoration: none;
  outline: none;
}
/* line 7, ../sass/_mixins.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.view-customer div.view-content div.views-row div.node-client-service h2 a:hover {
  text-decoration: none;
  color: #3e3e3e;
}
/* line 18, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.view-customer div.view-content div.views-row div.node-client-service .content {
  margin: 0;
}
/* line 28, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node-client-service h3 {
  font-size: 1.2em;
  line-height: 1.2em;
}
/* line 33, ../sass/partial/pages/_customer.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content div.node-client-service.node-full h3 {
  margin-top: 0;
}
/* line 2, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact #contact-map {
  width: 450px;
  text-align: left;
  padding: 0;
}
/* line 7, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact #contact-map p {
  text-align: center;
  margin: 10px 0;
}
/* line 13, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact #heartquarter {
  width: 480px;
  margin-bottom: 20px;
}
/* line 17, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact #heartquarter #google-map {
  margin: 10px 0 0 0;
}
/* line 22, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact .box {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 24, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact .box:not(:last-child) {
  margin: 0 16px 0 0;
}
/* line 29, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact ul {
  list-style-type: none;
  padding: 0;
}
/* line 33, ../sass/partial/pages/_contact.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #contact ul li {
  margin: 10px auto;
}
/* line 1, ../sass/partial/pages/_banner.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #block-views-banner-block {
  min-height: 291px;
}
/* line 4, ../sass/partial/pages/_banner.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #block-views-banner-block h2 {
  display: none;
}
/* line 8, ../sass/partial/pages/_banner.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #block-views-banner-block div.content {
  margin: 0;
}
/* line 11, ../sass/partial/pages/_banner.scss */
#page-wrapper #page #main-wrapper #main #content .section .region-content #block-views-banner-block div.content img {
  width: 1024px;
  max-width: 1024px;
  margin-left: -32px;
  border-bottom: 1px solid #b7b8b8;
}
/* line 27, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section #map-house-system {
  width: 100%;
}
/* line 31, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box {
  width: 350px;
  box-shadow: 2px 2px 9px -1px #b7b8b8;
  border: 1px solid #b7b8b8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-bottom: 10px;
  vertical-align: top;
}
/* line 39, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box h2 {
  background: url("/Content/Images/rightPanelBg.png");
  background-position: left -31px;
  color: #fff;
  font-size: 1.2em;
  line-height: 30px;
    height: 30px;
  margin: 0 auto 10px auto;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
/* line 52, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box .content {
  margin: auto 10px;
}
/* line 55, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box .content label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 75px;
}
/* line 61, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.facebook-comment {
  width: 100%;
  margin: 20px 0 0 0;
  text-align: left;
  clear: both;
}
/* line 67, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.facebook-comment .fb-like {
  margin: 0 0 5px 1%;
}
/* line 73, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.facebook-comment .fb-comments iframe {
  /*width: 98% !important;*/
  padding: 0 1%;
}
/* line 79, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.item-description {
  width: 98%;
  text-align: left;
  padding: 10px;
  margin: 20px 0 0 0;
}
/* line 85, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.item-description ul {
  margin: 0;
  list-style-type: none;
}
/* line 89, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box.item-description ul li {
  margin: 0 0 0 20px;
  background: url("../images/check.png") left top no-repeat;
  background-size: 16px 16px;
  text-indent: 30px;
  margin: 10px 10px 10px 10px;
}
/* line 99, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box form {
  margin: 0;
}
/* line 103, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box form .control-group .control-label {
  width: 100px;
  text-align: left;
  margin-left: 15px;
}
/* line 108, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box form .control-group .controls {
  margin-left: 120px;
}
/* line 113, ../sass/partial/content/_content.scss */
#page-wrapper #page #main-wrapper #main #content .section .box form .form-actions {
  margin: 0;
}
/* line 124, ../sass/partial/content/_content.scss */
#page-wrapper #page div.slideshow-block .views_slideshow_cycle_main {
  width: 420px;
  height: 420px;
  box-shadow: 0 0 10px #ddd;
  padding: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
}
/* line 133, ../sass/partial/content/_content.scss */
#page-wrapper #page div.slideshow-block .views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 420px;
  height: 420px;
}
/* line 141, ../sass/partial/content/_content.scss */
#page-wrapper #page div.slideshow-block .views_slideshow_cycle_main .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item img {
  width: 420px;
  max-width: 420px;
  height: 420px;
  display: none;
  margin: 0;
}
/* line 147, ../sass/partial/content/_content.scss */
#page-wrapper #page div.slideshow-block .views_slideshow_cycle_main .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item img:first-child {
  display: block;
}
/* line 156, ../sass/partial/content/_content.scss */
#page-wrapper #page div.slideshow-block #slideshow-nav {
  margin: 20px 0 20px 0;
  text-align: center;
}
/* line 1, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper {
  color: white;
  padding: 0;
  margin: 0;
}
/* line 6, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper h2 {
  display: none;
}
/* line 11, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-firstcolumn {
  float: left;
  padding: 0;
}
/* line 15, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-firstcolumn #block-counter-counter {
  border: none;
  margin: 10px 0 0 0;
  padding: 0;
}
/* line 22, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-firstcolumn #block-counter-counter #counter ul li strong {
  float: none;
  color: #3F68A8;
  font-size: 18px;
  margin: 0 5px 0 0;
}
/* line 33, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn {
  float: right;
  padding: 0;
  width: auto;
}
/* line 38, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer {
  margin: 0;
  padding: 0;
}
/* line 42, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content {
  padding: 0;
}
/* line 45, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu {
  text-align: right;
  padding: 0;
  margin: 0;
}
/* line 50, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 5px 0 0;
}
/* line 54, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li.menu-separator {
  width: 10px;
  text-align: center;
}
/* line 59, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li a {
  color: #fff;
  text-decoration: none;
  border: none;
  font-size: 1.1em;
}
/* line 65, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li a:hover, #page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li a.active, #page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li a.active-trail {
  color: #28882e;
  background: none;
}
/* line 71, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer-columns .region-footer-secondcolumn .block-menu-footer .content ul.menu li.last {
  margin: 0;
}
/* line 81, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer {
  margin: 0 auto;
  border: none;
}
/* line 85, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer {
  margin: 0;
  text-align: right;
}
/* line 89, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer .block-copyright {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 94, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer .block-copyright .content {
  padding: 0;
  margin: 0 0 10px 0;
}
/* line 98, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer .block-copyright .content p {
  margin: 8px 0 0 0;
}
/* line 101, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer .block-copyright .content p a {
  color: #fff;
  text-decoration: none;
}
/* line 105, ../sass/partial/content/_footer.scss */
#page-wrapper #page #footer-wrapper #footer .region-footer .block-copyright .content p a:hover {
  color: #28882e;
}
/* line 45, ../sass/partial/_general.scss */
a {
  color: #28882e;
  outline-style: none;
  text-decoration: none;
  outline: none;
}
/* line 7, ../sass/_mixins.scss */
a:hover {
  text-decoration: none;
  color: #3e3e3e;
}
/* line 49, ../sass/partial/_general.scss */
.housemap {
  width: 800px;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 54, ../sass/partial/_general.scss */
.housemap small {
  margin-top: 5px;
}
/* line 1, ../sass/partial/content/_pagination.scss */
.pagination {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}
/* line 12, ../sass/partial/content/_pagination.scss */
.pagination .prev, .pagination .next {
  display: none;
}
/* line 21, ../sass/partial/content/_pagination.scss */
#hiddenresult {
  display: none;
}
/* line 25, ../sass/partial/content/_pagination.scss */
.pagination-control {
  text-align: center;
}
/* line 29, ../sass/partial/content/_pagination.scss */
#Searchresult {
  text-align: center;
}
/* line 32, ../sass/partial/content/_pagination.scss */
#Searchresult article {
  width: 246px;
  display: inline-block;
  margin: 15px 50px 15px 0;
  text-align: left;
}
/* line 37, ../sass/partial/content/_pagination.scss */
#Searchresult article header {
  width: 228px;
  padding: 0 20px 0 10px;
  margin: 0 0 10px 0;
  font-weight: bold;
  position: relative;
}
/* line 43, ../sass/partial/content/_pagination.scss */
#Searchresult article header div {
  width: 125px;
  color: #3e3e3e;
  text-align: right;
  position: absolute;
  top: 0;
  right: 20px;
}
/* line 52, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item {
  width: 258px;
  height: 276px;
  background: url(../images/home/pagination-item.png) no-repeat;
  position: relative;
}
/* line 58, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .available, #Searchresult article .content-item .date-remain {
  position: absolute;
  z-index: 10;
}
/* line 63, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .available {
  width: 85px;
  height: 75px;
  background: url(../images/available.png) no-repeat;
  right: 8px;
  top: -2px;
}
/* line 71, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .date-remain {
  right: 21px;
  top: 14px;
  font-size: .8em;
}
/* line 77, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .image {
  height: 256px;
  overflow: hidden;
  position: relative;
}
/* line 82, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .image img {
  width: 228px;
  max-width: 100%;
  height: 246px;
  margin: 9px 11px;
}
/* line 88, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .image footer {
  width: 208px;
  height: 107px;
  padding: 0 10px;
  background-color: white;
  position: absolute;
  left: 11px;
  bottom: -246px;
  color: #3e3e3e;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}
/* line 98, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .image footer p {
  margin-top: 10px;
  line-height: 1.5em;
}
/* line 102, ../sass/partial/content/_pagination.scss */
#Searchresult article .content-item .image footer div {
  margin-top: 20px;
}
/* line 109, ../sass/partial/content/_pagination.scss */
#Searchresult article .bottom {
  width: 228px;
  padding: 0 20px 0 10px;
  text-align: center;
  font-weight: bold;
  color: #3e3e3e;
}
/* line 3, ../sass/partial/pages/_home.scss */
body.front #content .section {
  padding: 0 !important;
}
/* line 6, ../sass/partial/pages/_home.scss */
body.front #content .section #page-title {
  display: none;
}
/* line 10, ../sass/partial/pages/_home.scss */
body.front #content .section .tabs {
  margin: 0;
}
/* line 13, ../sass/partial/pages/_home.scss */
body.front #content .section .tabs ul.tabs.primary {
  margin: 10px 0;
}
/* line 18, ../sass/partial/pages/_home.scss */
body.front #content .section .block h2 {
  text-align: center;
  font-weight: bold;
  color: #28882e;
  text-transform: uppercase;
}
/* line 29, ../sass/partial/pages/_home.scss */
#form-room-search fieldset {
  margin: 5px;
  padding: 0;
  border: none;
}
/* line 34, ../sass/partial/pages/_home.scss */
#form-room-search fieldset label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 20%;
}
/* line 39, ../sass/partial/pages/_home.scss */
#form-room-search fieldset select {
  outline: none;
  font-size: 0.9em;
}
/* line 44, ../sass/partial/pages/_home.scss */
#form-room-search fieldset select, #form-room-search fieldset input {
  margin: 5px;
}
/* line 49, ../sass/partial/pages/_home.scss */
#form-room-search fieldset.field-price select, #form-room-search fieldset.field-area select {
  width: auto;
}
/* line 52, ../sass/partial/pages/_home.scss */
#form-room-search fieldset.field-price .min, #form-room-search fieldset.field-price .max, #form-room-search fieldset.field-area .min, #form-room-search fieldset.field-area .max {
  display: none;
}
/* line 58, ../sass/partial/pages/_home.scss */
#form-room-search .form-actions {
  background: transparent;
  padding: 0;
  border: none;
  text-align: center;
}
/* line 2, ../sass/partial/pages/_room.scss */
body.node-type-room .views-slideshow-cycle-main-frame {
  margin: 0 auto;
}
/* line 8, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #house-info, body.node-type-room div.node-room .content #room-info, body.node-type-room div.node-room .content #contact-phone {
  padding: 0 0 1px 0 !important;
}
/* line 11, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #house-info table, body.node-type-room div.node-room .content #room-info table, body.node-type-room div.node-room .content #contact-phone table {
  margin: 0;
}
/* line 16, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-description {
  clear: both;
}
/* line 20, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content .fleft {
  width: 45% !important;
  clear: left;
}
/* line 25, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content .fright {
  width: 50% !important;
}
/* line 29, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content .fleft, body.node-type-room div.node-room .content .fright {
  margin: 0 0 20px 0;
}
/* line 34, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info #price {
  text-align: center;
  font-weight: bold;
}
/* line 39, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info ul#room-info-detail {
  display: table;
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  padding: 0;
  margin: 10px 0 0 0;
  width: 100%;
}
/* line 48, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info ul#room-info-detail li {
  display: table-row;
  background: rgba(0, 0, 0, 0.063);
}
/* line 52, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info ul#room-info-detail li > label {
  width: 40%;
}
/* line 56, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-info ul#room-info-detail li > label, body.node-type-room div.node-room .content #room-info ul#room-info-detail li > div {
  display: table-cell;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border: 1px solid #fff;
}
/* line 70, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-include ul {
  list-style-type: none;
  text-align: center;
}
/* line 74, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-include ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 10px 0 0;
}
/* line 79, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-include p.center {
  margin: 0;
}
/* line 85, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-no-include > p, body.node-type-room div.node-room .content #room-feature-no-include > div, body.node-type-room div.node-room .content #room-feature-no-include > ul {
  padding: 0 20px;
}
/* line 90, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #room-feature-no-include ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 10px 0 0;
}
/* line 98, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content .room-feature #features {
  margin: 0;
  padding: 0 20px;
  text-align: center;
}
/* line 103, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content .room-feature #features li {
  margin: 0 4% 3% 0;
  border: 1px solid #ddd;
  box-shadow: 1px 2px 5px #ddd;
  padding: 5px 7px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 111, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content .room-feature #features li:hover, body.node-type-room div.node-room .content .room-feature #features li.active, body.node-type-room div.node-room .content .room-feature #features li.current {
  border-color: #28882e;
  box-shadow: 1px 2px 5px #28882e;
}
/* line 116, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content .room-feature #features li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 120, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content .room-feature #features li .feature-name {
  font-size: 0.8em;
}
/* line 123, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content .room-feature #features li .feature-price {
  font-size: 0.7em;
}
/* line 131, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #contract h3, body.node-type-room div.node-room .content #contract #contract-duration, body.node-type-room div.node-room .content #contract #last-price {
  padding: 0 20px;
}
/* line 134, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #contract h3 {
  font-size: 1.1em;
  margin: 0;
}
/* line 138, ../sass/partial/pages/_room.scss */
body.node-type-room div.node-room .content #contract #last-price {
  margin: 10px 0 0 0;
  font-size: 1.2em;
  color: #28882e;
}
/* line 2, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content {
  position: relative;
}
/* line 5, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info {
  width: 45% !important;
  margin: 15px 20px 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 12, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info #house-map {
  margin: 15px 0 0 0;
}
/* line 16, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info table {
  margin: 0;
}
/* line 19, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info table tbody {
  border: none;
}
/* line 23, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info table tr {
  background: none;
}
/* line 26, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info table tr td {
  border: none;
}
/* line 28, ../sass/partial/pages/_house.scss */
body.node-type-house .region-content #house-info table tr td:first-child {
  width: 100px;
}
/* line 41, ../sass/partial/pages/_house.scss */
.slideshow-house {
  width: 45%;
  margin: 0 2% 0 0;
  display: inline-block;
}
/* line 47, ../sass/partial/pages/_house.scss */
#house-detail {
  padding: 20px 0 0 0;
  text-align: center;
}
/* line 51, ../sass/partial/pages/_house.scss */
#house-detail #cycle-container {
  width: 45%;
  margin: 0 2% 0 0;
  display: inline-block;
}
/* line 2, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #header, body.node-type-invoice #footer-wrapper {
  display: none;
}
/* line 6, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #page-title {
  display: none;
}
/* line 10, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #send-invoice-wrapper {
  display: none;
}
/* line 13, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #form-send-invoice {
  width: 400px;
  margin: 0;
  text-align: left;
}
/* line 17, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #form-send-invoice fieldset {
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 23, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #form-send-invoice fieldset, body.node-type-invoice #form-send-invoice div, body.node-type-invoice #form-send-invoice label, body.node-type-invoice #form-send-invoice input {
  max-width: 100%;
}
/* line 26, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #form-send-invoice input[readonly=readonly] {
  color: #fff;
  background: rgba(62, 62, 62, 0.3);
}
/* line 30, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #form-send-invoice input, body.node-type-invoice #form-send-invoice textarea {
  width: 55%;
  font-size: 0.7em;
}
/* line 34, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #form-send-invoice textarea, body.node-type-invoice #form-send-invoice input#subject {
  width: 95%;
}
/* line 37, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #form-send-invoice textarea {
  resize: none;
}
/* line 40, ../sass/partial/pages/_invoice.scss */
body.node-type-invoice #form-send-invoice .form-actions {
  text-align: right;
  margin: 20px 0 0 0;
  padding: 10px 0;
  background: transparent;
}
/* line 50, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice .content {
  margin: 0;
}
/* line 54, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print {
  background: #fff;
  width: 800px;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  margin: auto;
  color: black;
}
/* line 64, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print header h4 {
  font-size: 1em;
  margin: 5px 0;
  text-transform: uppercase;
}
/* line 70, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print header h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: .5em 0;
}
/* line 77, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print table {
  text-align: left;
  width: 100%;
}
/* line 81, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print table td, div.node.node-invoice #invoice-print table th {
  padding: 5px 10px;
  border-bottom: 1px solid #CDCDCD;
}
/* line 87, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print #invoice-description {
  text-align: left;
}
/* line 90, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice-print #invoice-description input {
  outline: none !important;
  margin: 0;
  padding: 0;
  width: auto;
  box-shadow: none !important;
  background-color: yellow !important;
}
@media print {
  /* line 100, ../sass/partial/pages/_invoice.scss */
  div.node.node-invoice #invoice-print #btn-send-invoice {
    display: none;
  }
}
/* line 109, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice_invoiceDate select:first-child {
  display: none;
}
/* line 113, ../sass/partial/pages/_invoice.scss */
div.node.node-invoice #invoice_invoiceDate #invoice_invoiceDate_month {
  margin-left: 0;
}
/* line 119, ../sass/partial/pages/_invoice.scss */
.print-hr, .print-breadcrumb, .print-site_name, .print-logo {
  display: none;
}
/* line 123, ../sass/partial/pages/_invoice.scss */
.print-site_name + p {
  display: none;
}
/* line 128, ../sass/partial/pages/_invoice.scss */
body.page-printmail input[type="text"] {
  width: 35%;
}
/* line 132, ../sass/partial/pages/_invoice.scss */
body.page-printmail textarea {
  resize: none;
}
/* line 3, ../sass/partial/pages/_room-search.scss */
.page-room-search #block-phongdep-room-search h2 {
  display: none;
}
/* line 10, ../sass/partial/pages/_room-search.scss */
.view-room-search .views-exposed-form {
  display: none;
}
/* line 1, ../sass/partial/lib/_cycle.scss */
#nav-image {
  margin: 20px 0 20px 0;
  text-align: center;
}
/* line 9, ../sass/partial/lib/_cycle.scss */
.fancybox-inner {
  height: auto !important;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
}
/* line 1, ../sass/partial/lib/_fancybox.scss */
.fancybox-skin {
  background: #28882e;
}
/* line 4, ../sass/partial/lib/_fancybox.scss */
.fancybox-skin .fancybox-inner {
  font-size: 1.3em;
  color: #fff;
}