@using MVCCore.Framework.Web.Mvc
<div class="poster-right">
    <h2 class="page-title">
        Chào mừng bạn đến với</h2>
    <h1 class="page-title">
        THƯƠNG HIỆU PHÒNG &amp; CĂN HỘ CHO THUÊ CHUYÊN NGHIỆP ĐẦU TIÊN TẠI VIỆT NAM</h1>
    <div class="poster-row">
        <div class="poster-row-left">
            <div class="count-system">
                Hiện có <span><strong>100</strong> phòng </span><span><strong>1</strong> căn hộ</span><br>
                Tại <span class="min"><strong>11</strong> Nhà </span><span><strong>7</strong> Quận
                </span>
                <br>
                Và <strong>Nhiều Hơn Mỗi Ngày</strong>
            </div>
            <!--count-system-->
            <div class="go-search">
                Tìm phòng theo nhu cầu bên dưới</div>
            <div class="yeu-cau-support">
                Cần tư vấn chọn phòng phù hợp ?</div>
            <div class="hotline-city">
                Gọi ngay: <span>082.246.3091</span><br>
                Hotline: <span>093.550.2448</span>
            </div>
            <!--end hotline-->
        </div>
        <!--end poster-row-left-->
        <div class="slideshow-poster">
            @Html.Image("khuyenmai.jpg")
        </div>
        <!--end slideshow-poster-->
    </div>
    <!--end poster-row-->
</div>
